<span id="cal-slide-tick" style="display: none;"></span>
<div id="cal-slide-content" class="cal-event-list">
	<div class="list-group">
		<% _.each(events, function(event) { %>
		<a class="list-group-item event-item" href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>">
			<h5 class="list-group-item-heading">
				<span class="label label-default <%= event['class'] %>"><span class="icon-calendar fa fa-calendar-o" aria-hidden="true"></span></span>&nbsp;
				<%= event.title %>
				<% var start = moment(event.start); %>
				<% var end = event.end ? moment(event.end) : null; %>
				<small><%= start.format('MMMM D, YYYY h:mm A') %><%= end && event.end > event.start ? ' &ndash; ' + (end.isSame(start, 'day') ? end.format('h:mm A') : end.format('MMMM D, YYYY h:mm A')) : '' %></small>
			</h5>
		</a>
		<% }) %>
	</div>
</div>
