/* This file has been edited to set the star.gif and delete.gif image url paths */

.rateit {
	display: -moz-inline-box;
	display: inline-block;
	position: relative;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

.rateit .rateit-range
{
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
	background: url(../img/star.gif);
	height: 16px;
	outline: none;
}

.rateit .rateit-range * {
	display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
	display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
	display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
	position: absolute;
	left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
	left: auto;
	right: 0px;
}

.rateit .rateit-hover
{
	background: url(../img/star.gif) left -32px;
}

.rateit .rateit-hover-rtl
{
	background-position: right -32px;
}

.rateit .rateit-selected
{
	background: url(../img/star.gif) left -16px;
}

.rateit .rateit-selected-rtl
{
	background-position: right -16px;
}

.rateit .rateit-preset
{
	background: url(../img/star.gif) left -48px;
}

.rateit .rateit-preset-rtl
{
	background: url(../img/star.gif) left -48px;
}

.rateit button.rateit-reset
{
	background: url(../img/delete.gif) 0 0;
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	float: left;
	outline: none;
	border:none;
	padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
	background-position: 0 -16px;
}

/* Rating Facet for Search*/
.rating-star 
{
	display: block;
	font-size: 0pt;
	margin: 0;
	padding: 0;
}
.rating-star-empty 
{
	background: url(../img/star.gif) 0 0;
	width: 16px;
	height: 16px;
}
.rating-star-filled 
{
	background: url(../img/star.gif) left -32px;
	width: 16px;
	height: 16px;
}