<style scoped>
	.table > tbody > tr > td.input-label { padding: 0; }

	label {
		width: 100%;
		height: 100%;
		display: block;
		padding: 8px;
		font-weight: normal;
	}

	.table td:first-child { width: 0.01%; }
</style>
<h1 class="h3">@ViewBag.Title</h1>

@RenderBody()